.tasknavbar{
    background-color: maroon;
    color: white;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tasknavbar-a{
    text-decoration: none;
    font-size: 1.2em;
    color: inherit;
    padding-right: 30px;
}
.tasknavbar-a:hover{
    color: rosybrown;
}

.tasknavbar>a{

}