<div style="padding-top:2%">
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div *ngFor="let i of data" style="display:inline-block;width:33.33%;margin-bottom:5%;">
          <img class="img-circle" src="{{i.imageUrl}}" style="display: block;margin:0 auto;">
          <h3 class="text-center">{{i.title}}</h3>
          <div style="padding-left:25px;">
            <p>{{i.desc}}</p>
            <p class="description">{{i.type}}</p>
            <p>{{i['view-count'] | round}}</p>
            <button class="btn btn-primary" (click)="addToFavourites(i)">Add to Favourites</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
  </div>
</div>
